body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 24px;
}

.hero,
.footer{
  background-color: #1F2937;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 16px 124px 64px 124px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.hero-content{
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer{
  text-align: center;
  padding: 24px 0px;
}

.logo,
h1 {
  color: #F9FAF8;
}

.logo {
  font-size: 24px;
  margin: 0px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  margin: 0px;
}

.links,
.hero-text,
.footer {
  color: #E5E7EB;
  font-size: 18px;
}

.hero-text{
  margin: 0px;
  margin-bottom: 8px;
}


.hero-container{
  width: 400px;
}

.hero-img {
  background-color: #e5e7eb3f;
  color: #F9FAF8;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.sign-up-button{
  background-color: #3882F6;
  border-radius: 5px;
  border: 0px;
  padding: 4px 16px;
  color: #F9FAF8;
  font-weight: bold;
}

.content h2{
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  text-align: center;
}

.container-content {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 64px;
}

.container-info {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-text {
  text-align: center;
  font-size: 18px;
  margin: 0px;
}

.info-img {
  width: 160px;
  height: 160px;
  border-radius: 20px;
  border: #3882F6 4px solid;
  margin-bottom: 8px;
}

.quote-content {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  padding: 64px 0px;
  margin-bottom: 64px;
}

.quote-container {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.quote-container p {
  color: #1F2937;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  margin: 0px;
}

.quote-container h4 {
  color: #1F2937;
  font-size: 18px;
  font-weight: bolder;
  margin: 0px;
  align-self: flex-end;
}
.call-block {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
.call-content {
  width: 800px;
  background-color: #3882F6;
  border-radius: 6px;
  padding: 32px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.call-content h3 {
  color: #F9FAF8;
  margin: 0px;
}

.call-content p {
  color: #F9FAF8;
  margin: 0px;
}

.call-content .sign-up-button {
  border: 2px solid #F9FAF8;
}